@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(168, 168, 168);
}

html {
    height: 100vh;
}

header {
    width: 100vw;
    text-align: center;
    background-color: rgb(221, 220, 220);
}

header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 2.4em;
    width: 100vw;
}

menu {
    background-color: rgb(88, 88, 88);
    width: 100vw;
    display: none;
}

menu > ul {
    list-style-type: none;
}

li > a {
    color: rgb(204, 204, 204);
    text-decoration: none;
}

ul > li {
    color: rgb(218, 218, 218);
    text-decoration: none;
    border: 2px solid white;
    padding: 20px 0px;
}

li:hover {
    background-color: rgb(170, 169, 169);
    transition-duration: 200ms;
}

main {
    background-color: white;
    max-width: 800px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80vw;
}

article > h1 {
    margin: 0px 0px 10px 0px;
}

article > p {
    text-indent: 20px;
    margin: 0px 0px 10px 0px;
    text-align: justify;
    line-height: 1.5em;
    
}

article > h2 {
    margin: 0px 0px 10px 0px;
}

img#bill {
    display: block;
    margin: 20px auto;
    min-width: 300px;
    max-width: 600px;
    width: 60%;
}

i#menu {
    text-align: center;
    background-color: rgb(41, 41, 41);
    width: 100vw;
    padding: 10px 0px;
    color: white;
}

i#menu:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    transition-duration: 250ms;
}